<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dogs CRUD</title>
    <link rel="stylesheet" href="static/css/dog-crud-style.css" />
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Dog Management</h1>
      <form
        class="dog-form"
        hx-post="/dogs"
        hx-disable-elt="#add-btn"
        hx-target="table tbody"
        hx-swap="afterbegin"
        hx-on:htmx:after-request="this.reset()"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required placeholder="Enter dog's name" />
        </div>
        <div class="form-group">
          <label for="breed">Breed</label>
          <input type="text" id="breed" name="breed" required placeholder="Enter dog's breed" />
        </div>
        <button id="add-btn" class="btn">Add Dog</button>
      </form>

      <table class="dog-table" hx-trigger="revealed" hx-get="/components/dog-list" hx-target="tbody">
        <thead>
          <tr>
            <th>Name</th>
            <th>Breed</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>
